{% extends "header.html" %}

{% block body %}

<body>

    <div class="container">
      <h1>Event Planner</h1>
      <br>

      <form name="event_form" action="{{url_for('event_planner')}}" method="POST">
          <div class="form-group">
            <div class="input-group">
                <label for="state">State: </label>
                <select name = "state" id = "state" required>
                    <option label="--Select State--"></option>
                    <option value="Selangor">Selangor</option>
                    <option value="Penang">Pulau Pinang</option>
                </select>
                <br>

                <label for="service">Which service are you looking for?: </label>
                <select name = "service" id = "service" required>
                    <option label="--Select Service--"></option>
                    <option value="Costumes">Costumes</option>
                    <option value="Food & Beverages">Food & Beverages</option>
                    <option value="Music Equipment">Music Equipment</option>
                    <option value="PA System">PA System</option>
                </select>

            </div>
              <button type="submit" name="submit" value="success" class="btn btn-default">Submit</button>
          </div>
      </form>

    </div>

    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}
</body>

{% endblock %}