{% extends "header.html" %}

{% block body %}
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>Find Event</h1>
                        </div>
                            <div class="panel-body">
                                <a href="{{ url_for('event_finder') }}">
                                    <img src="/src/question_mark.png" class="img-responsive" style="width: 100%" alt="Find Event">
                                </a>
                            </div>
                            <div class="panel-footer">
                                <p id="find_event">Find Event</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Plan Event</h1>
                            </div>
                            <div class="panel-body">
                                <a href="{{ url_for('event_planner') }}">
                                    <img src="/src/question_mark.png" class="img-responsive" style="width: 100%" alt="Find Event">
                                </a>
                            </div>
                            <div class="panel-footer">
                                <p id="plan_event">Plan Event</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

{% endblock %}