{% extends "welcome_header.html" %}

{% block body %}

<body>
	<div class="container">
		<br>
		<h1>Login:</h1>
		<br>
		<form action="" class="form-inline" method="post">
			<input type="text" class="form-control" placeholder = "Username" name="username" value="{{request.form.username}}"
                   style="padding-right: 5px;margin-right: 5px;">
			<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}"
                    style="padding-right: 5px; margin-right: 5px;">
			<input class="btn btn-default" type="submit" value="Login" style="color: #000000; background-color: #99ddff">
		</form>

		{% if error %}
        <p class="error" style="color: #ff0000; margin-top: 10px;"><strong>Error:</strong> {{ error }}
		{% endif %}

	</div>

</body>

{% endblock %}