{% extends "header.html" %}

{% block body %}

<h1>Login</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
    <input type="text" placeholder="Username" name="username" value="{{
    request.form.username}}">

    <input type="password" placeholder="Password" name="password" value="{{
    request.form.password}}">

    <button class="btn btn-sm btn-success" type="submit">Login</button>
</form>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}

{% endblock %}