{% extends "homepage.html" %}

{% block body %}

    <table class="table">
      <thead>
        <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>Location</th>
            <th>State</th>
            <th>Service Provided</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
            <td>Monster Island Hotel</td>
            <td>Monster Road</td>
            <td>Kuala Lumpur</td>
            <td>Grand Ballroom (max capacity: 800 pax), Function Rooms (max capacity: 100 pax)</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Pius Hotel</td>
            <td>Maine Road</td>
            <td>Kuala Lumpur</td>
            <td>Grand Ballroom (max capacity: 500)</td>
        </tr>
      </tbody>
    </table>

{% endblock %}