{% extends "welcome_header.html" %}

{% block body %}

    <p style="font-size: 18px;padding-left: 10px">Welcome to EV Solution! To use our service, first, you have to be our member first.</p>
    <p style="font-size: 18px;padding-left: 10px">If you have not register yet, please register by click on the register.</p>
    <p style="font-size: 18px;padding-left: 10px">If you have already registered, please login to use our service.</p>

    <br><br>

    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <a href="{{ url_for('login') }}">
                                <img src="{{ url_for('static', filename = 'img/login1.png')}}" class="img-responsive" style="width: 100%" alt="LogIn">
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <a href="{{ url_for('register') }}">
                                    <img src="{{ url_for('static', filename = 'img/register2.png')}}" class="img-responsive" style="width: 100%" alt="Register">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "https://code.jquery.com/jquery.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}
